<!DOCTYPE html>
<html>
{% include _head.html %}
<body>
    <header>
        <h1>sakiのsekai</h1>
    </header>
    <main>
        {% include _hero.html %}
        <ul id="bands">
            <li>Nemophila</li>
            <li>Mary&rsquo;s Blood</li>
            <li>Amahiru</li>
        </ul>
        <section id="introduction" class="bilingual, story">
            <h1>a guitarist&rsquo;s birthday</h1>
            <div lang="en">
                {% include _intro_en.html %}
            </div>
            <div lang="ja">
                {% include _intro_ja.html %}
            </div>
        </section>
        <section id="look-back" class="bilingual, story">
            <h1>a look back</h1>
            <div lang="en">
                {% include _look-back_en.html %}
            </div>
            <div lang="ja">
                {% include _look-back_ja.html %}
            </div>
        </section>
        <section id="author-testimonial" class="bilingual, story">
        {% include _author-testimonial.html %}
        </section>
</main>
    <script src="script.js"></script>
    <footer>
        <ul>
            <li>sakiのsekai is a fan-produced site.</li>
            <li>designed and developed by <br>
                Rafe Thompson (<a href="https://twitter.com/ReplicantDeckrd" target="_blank">@replicantdeckrd</a>).</li>
            <li>built with 11ty. hosted by surge.</li>
            <li>report a bug.</li>
        </ul>
    </footer>
</body>
</html>