/* VARIABLES */
:root {
    --main-text-color: black;
    --hero-title-color: #fff2a8;
    --header-footer-bg-color: #02444a;
    --header-footer-support-color: #3a3a3a;
    --timeline-support-color: #fffeea;
}

/* FONTS */



body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    min-width: 950px;
}

h1, h2, h3, h4, h5, h6, p, dd, dt, dl, li, ul, time, q {
    margin: 0;
    padding: 0;
    text-indent: 0;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    list-style: none;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--header-footer-bg-color);
}

header:after {
    content: ".";
    line-height: 0;
    clear: both;
    display: block;
    height: 0;
}

header > h1 {
    float: right;
    padding: 15px;
    margin: 0;  
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: normal;
    font-style: italic;
    color: white;
    text-align: right;
}

#cover {
    clear: both;
    padding-top: 30px;
    border-bottom: 6px solid var(--header-footer-bg-color);
}

#hero, #cover {
    background: black;
    position: relative;
}

#hero {
    padding: 0 25px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}

#hero img {
    max-height: 700px;
}

#hero > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#title {
    grid-area: 1 / 1 / 2 / 4;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#title h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 6rem;
    letter-spacing: 1ch;
    margin-right: -1ch;
    color: var(--hero-title-color);
}

#title > div {
    overflow: hidden;
    border-top: 1px dotted #fff2a8;
    padding-top: 2rem;
}

#title dt, #title dd {
    font-size: 1.4rem;
    letter-spacing: 0.3ch;
}

#title dd {
    display: inline-block;
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
}

#group-a {
    grid-area: 1 / 1 / 2 / 3;
}

#group-b {
    grid-area: 1 / 2 / 2 / 4;
}

#group-c {
    grid-area: 1 / 3 / 2 / 5;
}

#group-d {
    grid-area: 1 / 4 / 2 / 6;
}

#hero img {
    grid-area: 1 / 1 / 2 / 2;
}

#screen {
    grid-area: 1 / 1 / 2 / 7;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FFF, #000);
}

.hide {
    visibility: hidden;
}

#sakid3 {
    z-index: 98;
}
#sakid2 {
    z-index: 97;
}
#sakid1 {
    z-index: 96;
}
#sakic4 {
    z-index: 89;
}
#sakic3 {
    z-index: 88;
}
#sakic2 {
    z-index: 87;
}
#sakic1 {
    z-index: 86;
}
#sakib4 {
    z-index: 79;
}
#sakib3 {
    z-index: 78;
}
#sakib1 {
    z-index: 77;
}
#sakia4 {
    z-index: 69;
}
#sakia3 {
    z-index: 68;
}
#sakia2 {
    z-index: 67;
}
#sakia1 {
    z-index: 66;
}

#play-anim {
    position: absolute;
    opacity: 1;
    right: 20px;
    bottom: 20px;
    transition: opacity 0.33s ease, border-color 0.2s linear;
    z-index: 99;
    cursor: pointer;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 30px;
    border-color: transparent transparent transparent #202020;
    border-style: solid;
    border-width: 15px 0 15px 24px;
}

#play-anim:hover {
    border-color: transparent transparent transparent #404040;
}

#play-anim:disabled {
    opacity: 0;
    cursor: default;
}

#bands {
    margin-bottom: 6rem;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

#bands li {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.4ch;
}

footer {
    background: no-repeat left top / 18% url("images/footer-01.webp");
    padding: 1rem 0 3rem 22%;
    margin-top: 10rem;
    border-right: 50px solid var(--header-footer-bg-color);
    border-bottom: 1px solid var(--header-footer-bg-color);
    border-top: 1px solid darkgrey;
}

footer li {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: darkgrey;
}

main > section {
    margin: 0 10vw 15vh;
}

main > section.bilingual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(1.66rem, auto) 1fr;
}

main > section > h1 {
    font-size: 1.85rem;
    grid-area: 1 / 1 / 2 / 3;
    margin: 0;
    padding: 0;
    position: relative;
}

main > section#introduction > h1:before {
    content: linear-gradient(var(--header-footer-bg-color), var(--header-footer-bg-color));
    height: 1.75rem;
    width: 1.75rem;
    position: absolute;
    display: block;
    left: -2rem;
    top: 0.15rem;
}

main > section.story div {
    padding: 0 5vw;
}

main > section.story p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin-top: 1.1rem;
    clear: left;
}

main > section.story img.cheki {
    max-width: 25vw;
    margin: 0.5rem 0.5rem 0.5rem -2vw;
    padding: 10px;
    border: 1px solid lightgray;
    background: white;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.tilt-left {
    transform: rotate(-2deg);
}

.tilt-right {
    transform: rotate(2deg);
}

img#saki-amahiru-portrait {
    shape-outside: url("images/saki-amahiru-portrait-rough-alpha.webp");
    shape-margin: 10px;
    max-height: 600px;
    float: right;
    margin-right: -12vw;
}

main > section div[lang="en"] {
    border-right: 1px dotted gray;
}

main > section#look-back {
    margin-left: 0;
    margin-right: 0;
    background: no-repeat left / 10vw linear-gradient(to right, white, #e7e9e9) #e7e9e9;
}

main > section#look-back h1 {
    background: url("images/nemophila-backdrop-banner-yellow.webp") var(--timeline-support-color) right bottom / 90% no-repeat;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    margin: 0;
    padding: 2.5rem 10vw;
}

dl.timeline {
    margin: 0 0 0 15vw;
    border-left: 1px dotted var(--header-footer-bg-color);
    padding-top: 2vh;
    background-color: white;
}

dl.timeline > dt {
    color: var(--header-footer-bg-color);
    margin-left: -15vw;
    padding: 1rem 0 1rem 0;
    width: 15vw;
    line-height: 1.3rem;
    font-size: 1.3rem;
    box-sizing: border-box;
    text-align: right;
    position: relative;
}

dl.timeline > dt > time:after {
    content: "";
    color: var(--header-footer-bg-color);
    display: inline-block;
    width: 3vw;
    margin-bottom: 0.7ex;
    border-bottom: 1px dotted var(--header-footer-bg-color);
}

dl.timeline > dt:after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 1rem;
    line-height: 0;
    width: 20px;
    height: 20px;
    color: white;
    background-color: white;
    box-sizing: border-box;
    border: 3px solid var(--header-footer-bg-color);
    border-radius: 50%;
}

dl.timeline > dd {
    margin-left: 5vw;
    width: 38vw;
    background-color: var(--timeline-support-color);
    margin-bottom: 1.5rem;
    position: relative;
    margin-top: 3rem;
    padding: 0 55px 15px 0;
    box-sizing: border-box;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    min-height: 75px;
}

dl.timeline > dd:before {
    content: "";
    background: #6d0303;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 0;
    left: calc(-5vw - 5px);
}

dl.timeline > dd > time {
    background: #6d0303;
    color: white;
    display: inline-block;
    padding: 10px;
    /* margin: -25px 0 0 -25px; */
    margin-top: -25px;
    font-size: 0.9rem;
}

dl.timeline > dd > time:before {
    border-top: 1px dotted #6d0303;
    content: "";
    width: 5vw;
    margin-left: calc(-5vw - 10px);
    display: block;
    position: absolute;
    top: 5px;
}

dl.timeline > dd > cite > a {
    background: no-repeat center / contain url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 20.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 400 400' style='enable-background:new 0 0 400 400;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231DA1F2;%7D .st1%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cg id='Dark_Blue'%3E%3Crect class='st0' width='400' height='400'/%3E%3C/g%3E%3Cg id='Logo__x2014__FIXED'%3E%3Cpath class='st1' d='M153.6,301.6c94.3,0,145.9-78.2,145.9-145.9c0-2.2,0-4.4-0.1-6.6c10-7.2,18.7-16.3,25.6-26.6 c-9.2,4.1-19.1,6.8-29.5,8.1c10.6-6.3,18.7-16.4,22.6-28.4c-9.9,5.9-20.9,10.1-32.6,12.4c-9.4-10-22.7-16.2-37.4-16.2 c-28.3,0-51.3,23-51.3,51.3c0,4,0.5,7.9,1.3,11.7c-42.6-2.1-80.4-22.6-105.7-53.6c-4.4,7.6-6.9,16.4-6.9,25.8 c0,17.8,9.1,33.5,22.8,42.7c-8.4-0.3-16.3-2.6-23.2-6.4c0,0.2,0,0.4,0,0.7c0,24.8,17.7,45.6,41.1,50.3c-4.3,1.2-8.8,1.8-13.5,1.8 c-3.3,0-6.5-0.3-9.6-0.9c6.5,20.4,25.5,35.2,47.9,35.6c-17.6,13.8-39.7,22-63.7,22c-4.1,0-8.2-0.2-12.2-0.7 C97.7,293.1,124.7,301.6,153.6,301.6'/%3E%3C/g%3E%3Cg id='Annotations'%3E%3C/g%3E%3C/svg%3E%0A");
    color: rgba(255, 255, 255, 0.0);
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%; 
    position: absolute;
    top: 15px;
    right: 15px;
}

dl.timeline > dd > img.cheki {
    float: right;
    clear: right;
    margin-right: -28vw;
    max-width: 20vw;
    min-width: 250px;
}

dl.timeline > dd > h2 {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #6d0303;
    margin-left: 60px;
}

dl.timeline > dd > p {
    margin-left: 60px;
}

q[lang="ja"]::before {
    content: "「";
}

q[lang="ja"]::after {
    content: "」";
}

blockquote.pullquote {
    width: 100%;
    margin: 0;
    background: black no-repeat right bottom url("images/house-lights-01.webp");
    padding: 1.4rem 40vw 1.4rem 20vw;
    box-sizing: border-box;
    min-height: 125px;
    color: white;
    border-top: 2px solid var(--header-footer-bg-color);
    border-top: 2px solid var(--header-footer-bg-color);
}

blockquote.pullquote p {
    font-size: 1.5rem;
}

