<p>ちゃっきーさんの作品を初めて見出して時のことを忘れません。音楽界の私の認識を全く変えました。すぐに私の好きな音楽家になりました。Mary's Bloodのためにちゃっきーさんが作曲した曲は今まで作曲されたメタル曲の中で最高のいくつかですよ。スラッシュメタルとして『Coronation Day』はTestamentかForbiddenの一番いい曲と同じくらいです。</p>
<p>ちゃっきーさんのギターの情熱的な演奏を聞くと涙を催すことが出来ます。IronbunnyのEdieeさんは「SAKIは──女性ギタリストのひとつの“理想形”だと思うね。優れたテクニックはもちろんだけど、チョーキングひとつとっても全身を使って表現するような妖艶さがすごく素敵だ！」と言いました。賢いサイボーグですよね！</p>
<p>今年は難しかったけど、ちゃっきーさんはいつもより熱心に働いで、ますます努力しました。Nemophilaの初年度は活動にあふれました。すべてのちゃっきーさんのツイキャス配信、ツイート、YouTubeの動画、客演は困難な状況をすごく忘れさせました。「雷霆」は年の最高の曲で、「むらたたむ復帰！NEMOPHILA 1st Streaming Live」は年の最高のイベントですよ。ついにメアリーズブラッドのライブに行くことが出来るのは私のために忘れられない経験なんでした。すべての努力に感謝の気持ちでいっぱいです。</p>
<p>今年ちゃっきーさんはBirthday Liveをやれないかみしれませんけど、最低でも素敵で素晴らしい誕生日を過ごすといいですね。
ちゃっきーさんは、音楽で綺麗な笑顔の素敵な一年ありがとうございます。お誕生日おめでとうございます。</p>