<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="SakinoSekai. A birthday celebration of Japanese guitarist SAKI.">
    <meta name="description" content="SakinoSekai. A birthday celebration of Japanese guitarist SAKI.">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon.png">
    <!-- <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.11ty.dev/">
    <meta property="og:site_name" content="Eleventy">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Layouts">
    <meta property="og:description" content="Eleventy is a simpler static site generator.">
    <meta property="og:image" content="https://www.11ty.dev/img/open-graph.jpg">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="640">
    <meta property="og:image:alt" content="The 11ty logo text with a small floating possum on a balloon">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@eleven_ty">
    <meta property="twitter:creator" content="@zachleat">
    <meta property="twitter:url" content="https://www.11ty.dev/">
    <meta property="twitter:title" content="Layouts | Eleventy, a simpler static site generator.">
    <meta property="twitter:description" content="Eleventy is a simpler static site generator.">
    <meta property="twitter:image" content="https://www.11ty.dev/img/open-graph.jpg">
    <meta property="twitter:image:alt" content="The 11ty logo text with a small floating possum on a balloon"> -->
    <title>SAKI ANIM TEST</title>
    <link rel="stylesheet" href="styles.css">
</head>