<p>
    Tokyo-based guitarist and songwriter SAKI has long been regarded as one of the premier guitar talents in Japan. World-renowned for her involvement in girls metal band <b class="bandname">MARY&rsquo;S BLOOD</b>, in the last year she has vastly increased her activities with the foundation of <b class="bandname">NEMOPHILA</b> and the arrival of her collaboration project with Frédéric Leclercq, <b class="bandname">AMAHIRU</b>.
</p>

<p>
    SAKI discovered her passion for metal guitar one fateful afternoon in high school when she happened upon a televised concert of heavy metal legends <b class="bandname">SEIKIMA-II</b>. She became an immediate Believer, and committed to a career as a metal musician. In 2010 she joined her first band, <b class="bandname">mixx</b>. A steady presence in the Tokyo girls metal scene, she was also a member of <b class="bandname">Re:Maker</b>, <b class="bandname">SEIKIMA-II</b> cover band <b class="bandname">KEMOSHIMA-II</b> and, briefly, <b class="bandname">Destrose</b>. When several ex-members of <b class="bandname">Destrose</b> asked her to join <b class="bandname">MARY&rsquo;S BLOOD</b> in 2012, she became the band&rsquo;s sole guitarist and primary songwriter.
</p>

<p>
    While serving with <b class="bandname">MARY&rsquo;S BLOOD</b>, SAKI has made frequent guest appearances in such projects as <b class="bandname">Xteen</b>, <b class="bandname">MAKAI</b>, and <b class="bandname">MARY&rsquo;S BLOOD</b> live support guitarist YASHIRO&rsquo;s solo album. She has been a regular presence on the stage of <b class="bandname">SHOW-YA</b>&rsquo;s all-female summer music festival NAON-no-YAON with several projects, most notably the female guitarist unit <b class="bandname">World Guitar Girls Collection</b>. She also writes monthly columns for Young Guitar and Headbang magazines.
</p>

<p>
    Renowned for her guitar talent as well as for her beauty, outgoing nature, and tireless work ethic, 2020 has been SAKI&rsquo;s busiest year yet. In celebration of her birthday on 4th October, let&rsquo;s take a look back at some of SAKI&rsquo;s amazing activities of the past twelve months.
</p>

<p>
    Happy Birthday, Saki!
</p>