<p>
    東京出身の作曲家とギターリストSAKIは日本のギター才能の第一の１人を久しくみなされたがある。<b class="bandname">Mary&rsquo;s Blood</b>というメタルバンドのメンバイーであることで世界的に有名なSAKIは今年<b class="bandname">NEMOPHILA</b>の結成や<b class="bandname">AMAHIRU</b>というFrédéric Leclercqとコラボプロジェクトをもって活動を急増した。
</p>
<p>
    ある宿命的な日でテレビで伝説の聖飢魔Ⅱのライブを見るとSAKIはメタルギターに情熱を見つけた。早速信者になって、メタル音楽家として進路を追求することに固く決めた。2010年で<b class="bandname">mixx</b>という最初のバンドに入った。東京のガールズメタル界の常駐のSAKIは<b class="bandname">Re:Maker</b>、<b class="bandname">獣死魔Ⅱ</b>という<b class="bandname">聖飢魔Ⅱ</b>のカバーバンド、短期間<b class="bandname">Destrose</b>のメンバーだった。2012年で、<b class="bandname">Destrose</b>の前メンバーに誘われたSAKIは<b class="bandname">Mary&rsquo;s Blood</b>に入って、単独のギターリストとメインコンポーザーになった。
</p>
<img src="images/saki-amahiru-portrait-rough-alpha.webp" alt="SAKI in Amahiru costume portrait" id="saki-amahiru-portrait">
<p>
    <b class="bandname">Xteen</b>や魔界や<b class="bandname">Mary&rsquo;s Blood</b>のライブサポートのYASHIROのソロアルバムなどのそんなプロジェクトにたびたび客演したがある。<b class="bandname">World Guitar Girls Collection</b>のようないろいろプロジェクトでNAONのYAONという<b class="bandname">SHOW-YA</b>の野外フェスの主になった。SAKIもYoungGuitarとヘドバンにてコラムを連載している。
</p>
<p>
    ギターの才能も美、社交的な性質、精力的な労働倫理でも名有です。2020年はこれまでで最も忙しい彼女の年なようだ。10月4日のSAKIの誕生日祝うために、ここ12ヵ月の間のSAKIの活動のいくらかを回顧しょう。
</p>
<p>
    SAKIさん、お誕生日おめでとうございます！
</p>