<p>
    Tokyo-based guitarist and songwriter SAKI has long been regarded as one of the premier guitar talents in Japan. World-renowned for her involvement in girls metal band MARY&rsquo;S BLOOD, in the last year she has vastly increased her activities with the foundation of NEMOPHILA and the arrival of her collaboration project with Frédéric Leclercq, AMAHIRU.
</p>

<p>
    SAKI discovered her passion for metal guitar one fateful afternoon in high school when she happened upon a televised concert of heavy metal legends SEIKIMA-II. She became an immediate Believer, and committed to a career as a metal musician. In 2010 she joined her first band, mixx, followed by stints with Re:Maker, 
</p>

<p>
    Renowned for her guitar talents as well as for her beauty, generous nature, stage presence, and tireless work ethic, 2020 has been SAKI&rsquo;s busiest year yet.
</p>