<dl class="timeline">
   <dt><time datetime="2019-10">10月</time></dt>
      <dd>
         <time datetime="2019-10-19">19日</time>
         <!-- TODO: responsive version with small and medium version breakpoints -->
         <img src="images/EHU-5wfUUAAhP9e-1426w.jpg" alt="SAKI Birthday Live 2019" class="cheki tilt-left">
         <h2>渋谷CYCLONEで、SAKI&rsquo;s Birthday Live</h2>
         <p><q lang="ja" cite="https://twitter.com/_chakixx_/status/1185503392958803974?s=20">明日はサイクロンでバースデーライヴか。当日から半月以上も後だもんでね、気にせずゆりると楽しんでちょーだいな</q></p>
         <cite><a href="https://twitter.com/_chakixx_/status/1185923249705586688?s=20" target="_blank" title="visit original twitter post">post</a></cite>
      </dd>
      <dd>
         <time datetime="2019-10-23">23日</time>
         <h2>新宿Wild SideTokyoにて、Nemophila</h2>
         <p>初の1時間ライブ</p>
         <cite><a href="https://twitter.com/ParaRock_BCN/status/1186644451969720321?s=20" target="_blank" title="visit original twitter post">post</a></cite>
      </dd>
      <dd>
         <time datetime="2020-10-27">27日</time>
         <img src="https://pbs.twimg.com/media/EH-M5n7UEAErQWC?format=jpg&name=4096x4096" alt="SAKI performing at NHORHM live" class="cheki">
         <h2>新宿PIT INNで、西山瞳とNHORHMライブ</h2>
         <cite><a href="https://twitter.com/_chakixx_/status/1188830757189406720?s=20" target="_blank" title="visit original twitter post">post</a></cite>
      </dd>
   
   <dt><time datetime="2019-11">11月</time></dt>
   <dd>
      <time datetime="2019-11-10">10日</time>
      <h2>佐野はな20周年ワンマン</h2>
      <p>いくつかのゲスト演奏の第一</p>
      <cite><a href="https://twitter.com/_chakixx_/status/1193800901892300802?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   <dd>
      <time datetime="2019-11-24">24日</time>
      <img src="https://pbs.twimg.com/media/EKIt6uxVUAAowZv?format=jpg&name=large" alt="SAKI Birthday Live 2019" class="cheki tilt-right">
      <h2>Classic Rock Jam 2019 25th Anniversary Special</h2>
      <p>聖飢魔ⅡとSHOW-YAなどのメンバーと</p>
      <p><q lang="ja" cite="https://twitter.com/_chakixx_/status/1198570965837312000?s=20">今日死んでも大丈夫です、冗談抜きで</q></p>
      <cite><a href="https://twitter.com/_chakixx_/status/1198570965837312000?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   
   <dt><time datetime="2019-12">12月</time></dt>
   <dd>
      <time datetime="2019-12-12">12日</time>
      <h2>横浜Hey Joeで、Poundin’ Jam</h2>
      <p>實成峻さんやhibikiさんや是方博邦さん。XENON石川さんは観に行った。</p>
      <cite><a href="https://twitter.com/_chakixx_/status/1193800901892300802?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   <dd>
      <time datetime="2019-12-24">24日</time>
      <h2>Mary&rsquo;s Blood 「クリぼっちSP 〜サイレンナイッ☆ホーリーナイッ〜」</h2>
      <cite><a href="https://twitter.com/_chakixx_/status/1209478026431352833?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   
   <dt><time datetime="2020-01">1月</time></dt>
   <dd>
      <time datetime="20120-01-10">10日</time>
      <h2>Mary&rsquo;s Blood 「新春！あこーすてぃっく大会！！」</h2>
      <cite><a href="https://twitter.com/_chakixx_/status/1216058973255655424?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   <dd>
      <time datetime="20120-01-17">17日</time>
      <h2>下北沢GARDENでKATAMALI新春音遊会に出演</h2>
      <cite><a href="https://twitter.com/_chakixx_/status/1218756542779912192?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   <dd>
      <time datetime="20120-01-26">26日</time>
      <h2>渋谷REXで、EYE&rsquo;s Birthday Live</h2>
      <p>NoBさんの意外な出演</p>
      <cite><a href="https://twitter.com/NEMOPHILA_band/status/1226104988981612544?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   
   <dt><time datetime="2020-02">2月</time></dt>
   <dd>
      <time datetime="20120-02-08">8日</time>
      <h2>『The Trooper』MVでネモフィラチャンネルのデビュー</h2>
      <p>NoBさんの意外な出演</p>
      <cite><a href="https://twitter.com/_chakixx_/status/1221400961484120064?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   <dd>
      <time datetime="20120-02-14">14日</time>
      <img src="images/EMxsG7fUwAA8Sha-1344w.jpg" alt="Mary's Blood 10th Anniversary Box detail">
      <h2>「Mary's Blood 10th Anniversary Box」発売記念イベント</h2>
      <cite><a href="https://twitter.com/_chakixx_/status/1228323760865828864?s=20" target="_blank" title="visit original twitter post">post</a></cite>
   </dd>
   
   <dt><time datetime="2020-03">3月</time></dt>
   <dd></dd>
   
   <dt><time datetime="2020-04">4月</time></dt>
   <dd></dd>
   
   <dt><time datetime="2020-05">5月</time></dt>
   <dd></dd>
   
   <dt><time datetime="2020-06">6月</time></dt>
   <dd></dd>
   
   <dt><time datetime="2020-07">7月</time></dt>
   <dd></dd>
   
   <dt><time datetime="2020-08">8月</time></dt>
   <dd></dd>
   
   <dt><time datetime="2020-09">9月</time></dt>
   <dd></dd> 
</dl>