<p>
    Last year, SAKI celebrated her birthday in London at the Metal Matsuri Festival in Camden. Returning to Tokyo, she celebrated her birthday a second time at her <b class="event">Birthday Live</b> (shows to celebrate the birthdays of the other members would follow over the next three months).
</p>
<img src="https://pbs.twimg.com/media/EHU-5wfUUAAhP9e?format=jpg&name=large" alt="SAKI birthday live show">
<blockquote>
    <p>明日はサイクロンでバースデーライヴか。当日から半月以上も後だもんでね、気にせずゆりると楽しんでちょーだいな</p>
</blockquote>
<p>
    Following <b class="bandname">Nemophila</b> and <b class="bandname">Mary&rsquo;s Blood</b> shows, on the 27th she performed with Hitomi Nishiyama in the NHORHM jazz crossover show.
</p>
<img src="https://pbs.twimg.com/media/EH-M5n7UEAErQWC?format=jpg&name=4096x4096" alt="Saki at the NHRORHM show">
<p>
    In November, after two guest appearances with Hina of <b class="bandname">Tribal Scream Phoenix</b> and Koga of <b class="bandname">Gacharic Spin</b>, she participated in the extraordinary <b class="event">Classic Rock Jam 2019 25th Anniversary Special</b> live alongside members of <b class="bandname">Seikima-II</b>, <b class="bandname">Show-Ya</b>, and others.
</p>
<img src="https://pbs.twimg.com/media/EKIt6uxVUAAowZv?format=jpg&name=large" alt="Saki with Xenon Ishikawa at the Classic Rock Jam 2019">
<blockquote>
    <p>今日死んでも大丈夫です、冗談抜きで</p>
</blockquote>