<p>
    SAKI is already looking to the future.
</p>
<p>
    On 30 October, Mary&rsquo;s Blood will perform the entirety of &ldquo;Re>Animator&rdquo; in a livestream. Every Friday, Nemophila will release a new video on their YouTube channel. On 16 October, Saki will return to the Kichijouji Silver Elephant for a guest appearance with Yashiro, ERIKA, Sacco, and Nimuri Shun. To top it all off, she has embarked on a new adventure modeling for Marrion Apparel.
</p>
<p>
    Thanks to Saki, the future is something worth living for.
</p>
<p>
    Let&rsquo;s look forward to 4 October, 2021 together.
</p>